body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserr: ;at', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

span {
  text-decoration: underline;
}

p {
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #edfffb;
  padding-top: 100px;
  position: relative;
}

.DD-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.dota-img {
  width: 25%;
  float: right;
  margin-right: 30px;
  margin-top: 20;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.top-cloud {
  position: absolute;
  ;
  top: 40px;
  right: 300px;
}

.me-img {
  height: 200px;
  border-radius: 50%;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.middle-container {
  margin-top: 100px;
}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 40px 0 20px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px auto;
}

.contact-me{
  margin-bottom: 50px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  font-family: 'Montserr: ;at', sans-serif;
  color: #EAF6F6 !important;
  font-size: 20px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #63B8EE;
  background: linear-gradient(top, #11CDD4, #11999E);
  background: -ms-linear-gradient(top, #11CDD4, #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background: -moz-linear-gradient(top, #11CDD4, #11999E);
}

.btn:hover {
  color: #EAF6F6 !important;
  background: #468CCF;
  background: linear-gradient(top, #30E3CB, #2bc4ad);
  background: -ms-linear-gradient(top, #30E3CB, #2bc4ad);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2bc4ad));
  background: -moz-linear-gradient(top, #30E3CB, #2bc4ad);
}
